.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.filterAndList {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 30px; /* Tambahkan jarak lebih banyak di sini */
  position: relative;
}

.filter {
  flex: 1;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px; /* Adjust this value as needed */
  max-height: calc(100vh - 40px); /* Adjust this value if needed */
  overflow-y: auto; /* Enable scrolling if filter content exceeds max-height */
  border: 1px solid #e0e0e0; /* Tambahkan border */
}

.filter h4 {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #333;
  font-weight: 600; /* Berat font lebih tebal */
}

.filter label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  color: #666; /* Warna teks label */
}

.filter input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #0070f3; /* Warna checkbox */
}

.filter input[type="checkbox"]:checked {
  background-color: #0070f3; /* Warna checkbox saat dipilih */
  border-color: #0070f3; /* Border warna saat dipilih */
}

.filter input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 1rem;
}

.filter input[type="text"]::placeholder {
  color: #aaa; /* Warna placeholder */
}

.filter button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
}

.filter button:hover {
  background-color: #005bb5;
  transform: scale(1.05); /* Efek zoom saat hover */
}

.filter button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filter div {
  margin-bottom: 16px;
}

.filter div > * {
  margin-bottom: 8px; /* Spasi antara elemen dalam div */
}


.productList {
  flex: 3;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: calc(100vh - 40px); /* Adjust height to take the full viewport minus filter height */
  overflow-y: auto; /* Allow vertical scrolling */
}

.productListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sortings {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0; /* Remove margin if needed */
}

.productItem {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.productItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.productItem img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.productItem h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.productItem p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.itemsPerPageAndPagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #333;
}
